<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="Menu">
	<insert id="create" parameterType="menu" useGeneratedKeys="true" keyProperty="menuId">
		INSERT INTO 
			restaurant.menu (`menu_name`, `menu_price`) 
		VALUES 
			(#{menuName}, #{menuPrice});
	</insert>
	
	<select id="selectAll" resultType="menu">
        SELECT 
        	menu_id as menuId, menu_name as menuName, menu_price as menuPrice 
        FROM 
        	restaurant.menu;
    </select>
    
    <select id="selectById" parameterType="int" resultType="menu">
    	SELECT 
    		menu_id as menuId, menu_name as menuName, menu_price as menuPrice 
    	FROM 
    		restaurant.menu 
    	WHERE 
    		menu_id=#{menuId};
    </select>
    
    <update id="update" parameterType="menu">
    	UPDATE 
    		restaurant.menu SET menu_name = #{menuName}, menu_price = #{menuPrice} 
    	WHERE 
    		menu_id = #{menuId};
    </update>
    
    <delete id="delete" parameterType="int">
    	DELETE FROM 
    		restaurant.menu 
    	WHERE 
    		menu_id=#{menuId};
    </delete>
</mapper>